/* @theme custom */

/* Magic of step-through is "*" bullet points (w/ "list-style-type: none;") */

@import 'uncover';

@font-face {
  font-family: Martel_Sans_Bold;
  src: url('../fonts/Google Fonts/Martel_Sans/MartelSans-Bold.ttf');
  font-weight: regular;
}

@font-face {
  font-family: Pangolin;
  src: url('../fonts/Google Fonts/Pangolin/Pangolin-Regular.ttf');
  font-weight: regular;
}

div.attribution {
  font-size: 16px;
  padding-top: 24px;
}

div.commentary ul,
div.detail-summary {
  font-size: 24px;
  list-style-type: none;
  text-align: center;
}

div.three-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}

div.two-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

section {
  /* font-family: Martel_Sans_Regular; */
  font-family: Martel_Sans_Bold;
}

section.details ul li {
  line-height: 1.5em;
}

section.commentary ul,
section.details ul li {
  font-size: 20px;
}

section h2 {
  font-size: 60px;
}

section h3 {
  font-size: 48px;
}

section.section_title h2
{
  font-size: 60px;
  line-height: 1em;
}

section.section_title h3 {
  font-size: 48px;
  line-height: 1.25em;
}

section.section_title h4 {
  font-size: 36px;
  line-height: 1.5em;
}

section.section_title,
section.section_title ul li {
  font-family: Pangolin, cursive;
  text-align: center;
}

section.section_title ul li {
  list-style-type: none;
}

section.summary ul li {
  font-size: 36px;
  line-height: 1.75em;
}

section.talk_title h1 {
  font-size: 76px;
  line-height: 1.75em;
}

section.talk_title h2,
section.talk_title ul li {
  font-size: 60px;
  line-height: 1.75em;
}

section.talk_topics ul li {
  font-size: 36px;
  line-height: 2em;
}

/* HACK */
span.break {
  line-height: 2em;
}